<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthiest Thing At | The only menu you can trust in the drive-thru.</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto:500" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
  <div class="body-wrap boxed-container">
          <header class="site-header">
              <div class="container">
                  <div class="site-header-inner">
                      <div class="brand header-brand">
                          <h1 class="m-0">
                              <a href="/">
                                  <img src="images/logo.png" width="50px" />
                              </a>
                          </h1>
                      </div>
                  </div>
              </div>
          </header>