<% include ./partials/header.ejs %>

<main>
  <section class="hero text-center">
      <div class="container-sm">
          <div class="hero-inner">
              <h1 class="hero-title h2-mobile mt-0 is-revealing">Find the healthiest food at your favorite restaurant</h1>
              <!-- <h1 class="hero-title h2-mobile mt-0 is-revealing">Your Favorite Menus. Ranked.</h1> -->
              <!-- <p class="hero-paragraph mt-0 is-revealing">Type in the name of a restaurant for a list of the healthiest items on their menu.</p> -->
              <p class="hero-paragraph mt-0 is-revealing">Type in the name of a restaurant to get started:</p>
              <form id="searchForm" class="hero-form newsletter-form field field-grouped is-revealing" method="POST" action="/search">
                  <div class="control control-expanded">
                      <input id="mainSearchInputField" class="input" type="search" name="search" placeholder="Try searching 'Burger King' or 'McDonald's'">
                  </div>
                  <div class="control">
                      <input class="button button-primary button-block button-shadow" href="#" value="Submit" type="Submit"/>
                  </div>
              </form>
              <div class="hero-browser">
                  <div class="hero-browser-inner is-revealing">

                      <!-- TODO:

                      1. Separate inline styles into CSS folder
                      2. Click a card to send data to server

                      <img src="/images/compressed-hero.png" />

                      -->

                      <div class="hero-image-container">
                        <h3>Near You:</h3>
                        <br>
                        <div class="restaurant" style="margin-bottom: 3rem;">
                            <img style="margin: 0 auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Burger_King_Logo.svg/2000px-Burger_King_Logo.svg.png" width="175" height="175" alt="">
                            <h4>Burger King</h4>
                        </div>
                        <div class="restaurant" style="margin-bottom: 3rem;">
                            <img style="margin: 0 auto;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/2000px-McDonald%27s_Golden_Arches.svg.png" width="175" height="150" alt="">
                            <h4>McDonald's</h4>
                        </div>
                        <div class="restaurant" style="margin-bottom: 3rem;">
                            <img style="margin: 0 auto;" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b3/Taco_Bell_2016.svg/1200px-Taco_Bell_2016.svg.png" width="125" height="150" alt="">
                            <h4>Taco Bell</h4>
                        </div>
                      </div>


                  </div>
              </div>
          </div>
      </div>
  </section>

<% include ./partials/footer.ejs %>
