<% include ./partials/header.ejs %>

<main>
  <section class="hero text-center">
      <div class="container-sm">
          <div class="hero-inner">
              <h1 class="hero-title h2-mobile mt-0 is-revealing">Find the healthiest food at your favorite restaurant</h1>
              <form class="hero-form newsletter-form field field-grouped is-revealing" method="POST" action="/search">
                  <div class="control control-expanded">
                      <input class="input" type="search" name="search" placeholder="Where are you eating?">
                  </div>
                  <div class="control">
                      <input class="button button-primary button-block button-shadow" href="#" value="Submit" type="Submit"/>
                  </div>
              </form>
              <div class="hero-browser">
                  <div class="hero-browser-inner is-revealing">
                      <img src="/images/hero.jpg" />
                  </div>
              </div>
          </div>
      </div>
  </section>

<% include ./partials/footer.ejs %>