<h1>What's the Healthiest Thing At...</h1>
<form action="/api/healthylist" method="POST">
  <input style="width:250px;" type="search" name="search" placeholder="Where are you eating?">
  <input type="submit" value="Submit">
</form>